<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<h2>登録情報</h2><%= link_to '編集する', customers_information_edit_path, class: 'btn btn-success' %>

<table class='table'>
  <tr>
    <th>氏名</th><td><%= @customer_name %></td>
  </tr>
  <tr>
    <th>カナ</th><td><%= @customer_furigana %></td>
  </tr>
  <tr>
    <th>郵便番号</th><td><%= @postcode %></td>
  </tr>
  <tr>
    <th>住所</th><td><%= @address %></td>
  </tr>
  <tr>
    <th>電話番号</th><td><%= @phone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th><td><%= @email %></td>
  </tr>
</table>

<h2>配送先</h2>

<h2>注文履歴</h2>

   <h2><%= link_to "logout", destroy_customer_session_path, method: :delete, class: 'btn btn-success' %></h2>
   