<div class='container'>
  
  <h3>マイページ</h3>
  <div class='row'>
    <h3><strong>登録情報</strong></h3><%= link_to '編集する', customers_information_edit_path, class: 'btn btn-outline-dark ml-5' %>
  </div>
    
<br>
<table class='table table-bordered border-dark'>
  <tr>
    <th class="table-secondary", scope="col" style="width: 30%">氏名</th><td><%= @customer_name %></td>
  </tr>
  <tr>
    <th class="table-secondary">カナ</th><td><%= @customer_furigana %></td>
  </tr>
  <tr>
    <th class="table-secondary">郵便番号</th><td><%= @postcode %></td>
  </tr>
  <tr>
    <th class="table-secondary">住所</th><td><%= @address %></td>
  </tr>
  <tr>
    <th class="table-secondary">電話番号</th><td><%= @phone_number %></td>
  </tr>
  <tr>
    <th class="table-secondary">メールアドレス</th><td><%= @email %></td>
  </tr>
</table>

<br>
<div class='row'>
  <h3><strong>配送先</strong></h3>
    <%= link_to "一覧を見る", addresses_path, method: :get, class: 'btn btn-outline-dark ml-5' %>
</div>
<br>
<div class='row'>
  <h3><strong>注文履歴</strong></h3>
    <%= link_to "一覧を見る", orders_path, method: :get, class: 'btn btn-outline-dark ml-3' %>
</div>

</div>