<div class="container py-5">

  <h2>　　　　　　　　　　　　商品編集</h2>

  
  
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <% if @item.errors.any? %>
    <strong><%= @item.errors.count %>件のエラーが出たので変更できませんでした。</strong>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li><br>
      <% end%>
    </ul>
  <% end %>
  <%= form_with model: @item, url: admin_item_path(@item), method: :patch do |f| %>
  <table class="table table-borderless">
    <tr>
      <th>商品画像</th>
      <td><%= f.file_field :item_image, accept: 'image/*' %></td>
    </tr>
    <tr>
      <th>商品名</th>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr>
      <th>商品説明</th>
      <td><%= f.text_area :explanation, class: "form-control" %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= f.select :genre_id, options_from_collection_for_select(@genre, :id, :name, @selected_genre_id), class: "form-control" %></td>
    </tr>
    <tr>
      <th>税抜価格</th>
      <td><%= f.text_field :price, class: "form-control" %></td>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <td>
        <%= f.radio_button :is_saled, true, checked: true %>
        <%= f.label :is_saled, "販売中", value: "true" %>
        　　<!--全角スペースあり-->
        <%= f.radio_button :is_saled, false %>
        <%= f.label :is_saled, "販売停止中", value: "false" %>
      </td>
    </tr>
  </table>
    <br>
    </div>
    
  </div>
    <div class="row d-flex justify-content-center">
      <%= f.submit '変更を保存', class: "btn btn-success" %>
      <% end %>
    </div>
</div>
