<div class="col-md-8 offset-md-1">
  <div class="mx-auto" >
    <h4 class="m-5">管理者ログイン</h4>
  </div>
</div>

<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <form class="form-horizontal" role="form">
    <div class="form-group text-center">
      <%= f.label :メールアドレス, class: "col-md-3 control-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-5" %>
    </div>
        
    <div class="form-group text-center">
      <%= f.label :パスワード, class: "col-md-3 control-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-5" %>
    </div>
    
    <div class="form-group text-center">
      <div class="actions">
        <%= f.submit "ログイン", class: "col-sm-offset-2 col-sm-2 btn btn-primary" %>
      </div>
    </div>
  </form>
<% end %>



<%= render "admin/shared/links" %>
