<div class="main-container">
<div class="container">
  <div class="row justify-content-center pt-3 mb-3">
    <div class="h-100 pull-right"><%= image_tag 'top_image.jpg', size: '650x400' %></div>
  </div>
  <div class="row justify-content-center border-top border-bottom border-dark">
    <h1 class="font-weight-bolder" style="font-size:60px; font-family: 'Comic Sans MS'">- Welcome to Nagano Cake -</h3>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col text-center text-secondary h6">
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">このサイトは、ケーキ販売のECサイトになります。</p>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">会員でない方も商品の閲覧できますが、</p>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">購入には会員登録が必要になります。</p>
    </div>
  </div>

  <div class="row border-dark border-bottom mt-5">
    <h3 style="font-size:30px; font-family: 'Impact'">- New Product -</h3>
  </div>
 <div class="row justify-content-center mt-4">
 <% @items.first(4).each do |item| %>
    <div>
     <%= link_to item_path(item.id) do %>
     <%= image_tag item.get_item_image, size: '200x150' %>
    <div>
     <p><%= item.name %></p>
     <p>￥ <%= item.price %></p>
    </div>
    </div>
     <% end %>
  <% end %>
 </div>
  <div class="row justify-content-end mr-5">
  <%= link_to 'MORE >', items_path, class: "font-weight-bolder", style: "font-size:20px" %>
  </div>
</div>
</div>
