
<h3>注文情報確認</h3>

<table>
  <tr>
    <td>商品名</td>
    <td>単価（税込）</td>
    <td>小計</td>
    <td></td>

  </tr>
  <% sum = 0 %>
   <% current_customer.cart_items.each do |cart_item| %>
  <tr>
    <td><%= cart_item.item.namer %></td>
    <td><%= cart_item.item.tax_calc %></td>
    <td><%= cart_item.amount %></td>
    <td><%= cart_item.sum_of_price %></td>
  </tr>
  <% sum = sum + cart_item.sum_of_price %>
  <%= sum %>
 <% end %>
  <tr>
    <td>送料</td>
    <td><%= @shipping_fee %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= sum %></td>
  </tr>
  <tr>
    <td>請求金額</td>
    <td><%= sum + @shipping_fee %></td>
  </tr>

</table>

  <h5>支払方法</h5>
    <%= @order.payment_method %>

  <h5>お届け先</h5>
    <%= "〒" + " " + @order.postcode + " " + @order.address + " " + @order.name %>
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
     <%= f.hidden_field :payment_method, :value => @order.payment_method %>
     <%= f.hidden_field :postcode, :value => @order.postcode %>
     <%= f.hidden_field :address, :value => @order.address %>
     <%= f.hidden_field :billing_amount, :value => sum + @shipping_fee %>
     <%= f.hidden_field :shipping_fee, :value => @shipping_fee  %>
     <%= f.hidden_field :name, :value => @order.name %>
     <%= f.submit "注文を確定する" %>
  <% end %>