<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
<h3>注文情報入力</h3>
 <!--< %= f.radio_button :プロパティ名, "フォームで送る値" %>-->
<!--radio_botton参考　https://qiita.com/shinji0320/items/3299f4d91087d40bbb9b-->

  <h4>支払方法</h4>
   <%= f.radio_button :payment_method, :credit_card, checked: "checked"%>
   <%= f.label :payment_method, "credit_card" %><br>

   <%= f.radio_button :payment_method, :transfer %>
   <%= f.label :payment_method, "transfer" %>

  <h4>お届け先</h4>
      <%= f.radio_button :address_option, 0, checked: "checked" %>
      <%= f.label :address_0, "ご自身の住所" %>
      〒<%= @customer.full_address %><br>


      <%= f.radio_button :address_option, 1 %>
      <%= f.label :@customer, "登録済住所から選択" %>
      <%= f.collection_select(:address_id, current_customer.addresses.all, :id, :address_display) %><br>

      <%= f.radio_button :address_option,2 %>
      <%= f.label :address,"新しいお届先" %>
       <%= f.label :postcode,"郵便番号（ハイフンなし）"%>
       <%= f.text_field :postcode %><br>
       <%= f.label :address, "住所" %>
       <%= f.text_field :address %><br>
       <%= f.label :name, "宛名" %>
       <%= f.text_field :name %><br>
       <%= f.submit '確認画面へ進む'%>
    <% end %>