<div class="col-md-8 offset-md-2">
  <div class="mx-auto" >
    <h4 class="m-5">ログイン</h4>
  </div>
  <h4 class="ml-5">会員の方はこちらからログイン</h4>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <form class="form-horizontal" role="form">
  <div class="form-group text-center">
    <%= f.label :メールアドレス, class: "col-md-3 control-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-5" %>
  </div>

  <div class="form-group text-center">
    <%= f.label :パスワード, class: "col-md-3 control-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password" , class: "col-sm-5" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group text-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group text-center">
    <div class="actions">
      <%= f.submit "ログイン", class: "col-sm-offset-2 col-sm-2 btn btn-primary" %>
    </div>
  </div>
 </form>

<div class="col-md-8 offset-md-2">
  <div class="mx-auto" >
    <h4 class="m-5">会員登録がお済でない方</h4>
    <%= render "public/shared/links" %>
   </div>
</div>
<% end %>
