<div class='container'>
  <h2><strong>商品一覧(全<%= @items.count %>件)</strong></h2>
  
    <div class="d-flex flex-wrap">
      <% @items.each do |item| %>
       <div class="card border-0  mx-1 my-1">
         <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image, size: '300x200' %>
          <% end %>
        <div class="card-body">
          <h4><p class="card-title badge badge-secondary"><%= item.name %></p></h4>
          <p class="card-title badge badge-pill badge-primary">￥ <%= item.price %></p>
        </div>
       </div>
    <% end %>
  </div>
</div>