<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5c4a1fefd6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
           <% if customer_signed_in? %>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                   <i class="fa-solid fa-sign-out-alt"></i>  Log out
                <% end %>
                <% else %>
                <li>
                <%= link_to new_customer_session_path,class: 'nav-link text-light' do %>
                   <i class="fa-solid fa-sign-in-alt"></i>  Log in
                <% end %>
                </li>
              <li>
                <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                   <i class="fa-solid fa-user-plus"></i> Sign up
                <% end %>
              </li>
                <% end %>
              </li>
    </header>
    <%= yield %>
  </body>
</html>